/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region TYPOGRAPHY*/

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

h2 {
    font-size: 3rem;
}

.people {
    font-size: 1.25rem;
}

.people h2 {
    color: #9792e4;
    margin-bottom: 3.5rem;
}

.violet h2 {
    padding: 5rem 0 5rem;
}

.card-white .numb {
    font-size: 4.5rem;
    font-weight: bold;
    color: #9792e4;
}

.card-white .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5rem 0;
    color: #9792e4;
}

h3 {
    font-size: 2.125rem;
}

.txt h3 {
    margin: 6rem 0 4rem;
}

.info h3 {
    font-size: 4.5rem;
}

.info p {
    font-size: 1.25rem;
}

.quote p {
    font-size: 1.875rem;
}

.container .box {
    font-size: 1.125rem;
}

.box h3 {
    color: #fdc15f;
    font-size: 6rem;
}

h4 {
    color: #0084fd;
    font-size: 1.5rem;
}

.col.left .txt {
    font-size: 1.125rem;
}

.col.right .image .card h4 {
    color: #000000;
    margin: 1.875rem 0;
}

.col.right .image .card p {
    font-weight: 400;
}

.col.right .image .card .small-round i {
    font-size: 1.125rem;
    line-height: 3.125rem;
}

/* #endregion TYPOGRAPHY*/

/* #region COMMON*/

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
}

section {
    text-align: center;
}

.violet .container {
    padding: 2rem;
}

.btn {
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding: 0.6rem;
    border-radius: 1.5rem;
}

.btn-blue {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background-color: #0084fd;
    padding: 0.6rem 3.125rem;
    border-radius: 1rem;
}

/* #endregion COMMON*/

/* #region HEADER*/

header {
    color: #ffffff;
    background-color: #0084fd;
    margin-bottom: 50px;
}

header .navbar {
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar .menu {
    display: flex;
}

header .navbar .menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

header .navbar a:not(.btn) {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.only-mobile {
    display: none;
}

/* #endregion HEADER*/

/* #region MAIN*/

/* Sezione Demo */

.container.grid {
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2rem 6.25rem;
}

.card {
    border-radius: 1.5625rem;
    padding: 2.5rem;
    font-weight: bold;
    font-size: 1.125rem;
}

#grow {
    width: 50%;
    flex-grow: 2;
}

.container.grid .card {
    width: calc((100% - 3rem) / 3);
    color: #5a6e7f;
    background-color: #b5ddff;
    display: flex;
    gap: 2.5rem;
}

.container.grid .card .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: start;
}

.container.grid .card .right {
    width: 50%;
    align-self: end;
    position: relative;
    bottom: -2.5rem;
}

.container.grid .card .grid-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container.grid .card .grid-box h4 {
    margin: 1.8rem 0 2.5rem;
}

.container.grid .card .grid-box i {
    font-size: 5rem;
    color: #0084fd;
}

/* /Sezione Demo */

/* Sezione Strategic Planning */

.col.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding-left: 8.125rem;
}

.col.left .image {
    width: 70%;
}

.col.left .txt {
    padding: 0 3rem;
}

.col.right {
    width: 40%;
    display: flex;
    align-items: end;
    padding-right: 8.125rem;
}

.col.right .image .card {
    font-style: italic;
    color: #000000;
    background-color: #ffffff;
}

.violet {
    color: #ffffff;
    background-color: #9792e4;
}

.container.plan {
    gap: 4.375rem;
    padding: 3.5rem 2rem;
}

.col.right .image .card .small-round {
    margin: 2.1875rem auto;
    width: 3.125rem;
    border-radius: 50%;
    background-color: #9792e4;
}

/* /Sezione Strategic Planning */

/* Sezione Testimonial */

.container .people {
    margin-top: 4.25rem;
    padding: 0 2rem 7rem;
}

.container .people .title {
    margin-bottom: 2.5rem;
}

.container .people .person {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: left;
    background-color: #9792e4;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 2.1875rem;
}

.container .people .person p {
    margin-bottom: 2.25rem;
}

.container .people .person .photo {
    border-radius: 50%;
}

.round {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    margin: 0 auto;

}

.round.test-1 {
    background-image: url(../img/testimonial1.jpg);
    background-size: cover;
    background-position: center;
}

.round.test-2 {
    background-image: url(../img/testimonial2.jpg);
    background-size: cover;
    background-position: center;
}

.round.test-3 {
    background-image: url(../img/testimonial3.jpg);
    background-size: cover;
    background-position: center;
}


/*/ Sezione Testimonial */

/* Sezione Benefits */

.card-white {
    text-align: left;
    width: calc((100% - 3rem) / 3);
    border-radius: 1.5625rem;
    padding: 2.5rem;
    font-size: 1.125rem;
    color: #5a6e7f;
    background-color: #ffffff;
}

.card-white p {
    margin-bottom: 2rem;
}

.card-white .btn {
    text-align: center;
    font-weight: bold;
    width: 50%;
    color: #ffffff;
    background-color: #9792e4;
}

/* /Sezione Benefits */

/* Sezione About us */

.about .container {
    padding: 6.5rem 3rem;
    gap: 3rem;
}

.about .container .info {
    width: 60%;
}

.about .container .quote {
    width: 40%;
}

/* /Sezione About us */

/* Sezione Call to action */

.container .box {
    margin: 0 auto;
    text-align: center;
}

.container .box p {
    width: 50%;
    margin: 0 auto;
}

.container .box .btn {
    width: 25%;
    margin: 2rem auto;
}

/* /Sezione Call to action */

/* #endregion MAIN*/


/* #region FOOTER*/

footer {
    color: #ffffff;
    background-color: #333333;
}

footer .container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    text-align: center;
}

footer .container p {
    width: 50%;
    margin: 0 auto;

}

/* #endregion FOOTER*/


/* #region MEDIA QUERIES*/

/* Desktop da 768px a 1400px*/

@media screen and (max-width:1400px) {

    .container {
        width: 100%;
    }

    .about .container {
        gap: 2.5rem;
        padding: 2rem;
    }

    .round {
        margin: 0 auto;
    }

}

/* Tablet da 480px a 768px*/

@media screen and (max-width:768px) {

    .only-mobile {
        display: block;
    }

    header .navbar .menu ul {
        display: none;
    }

    #grow {
        flex-direction: column;
    }

    .container.grid {
        padding: 0 2rem 6.5rem;
    }

    .container.grid .card .left,
    .container.grid .card .right {
        width: 100%;
    }

    .violet .container {
        padding: 2rem 2rem 4rem;
    }

    .container.plan {
        flex-direction: column;
    }

    .col.left,
    .col.right {
        width: 100%;
        padding: 0;
    }

    .col.right.txt {
        display: none;
    }

    .col.right {
        align-items: start;
    }

    .violet .container.grid .card-white {
        width: calc((100% - 3rem) / 2);
    }

    .about .container {
        padding: 3rem;
    }

    .about .container .info {
        width: 60%;
    }

    .about .container .quote {
        width: 40%;
    }

    .container .box {
        width: 100%;
    }

    .container .box .btn {
        width: 30%;
    }

}

/* Mobile da 0 a 480px*/

@media screen and (max-width:480px) {

    .grid {
        flex-direction: column;
    }

    .container.grid .card,
    .violet .container.grid .card-white,
    #grow {
        width: 100%;
    }

    .card .right {
        display: flex;
        justify-content: center;
    }

    .person {
        flex-direction: column;
    }

    .violet .container.grid .card {
        width: 100%;
    }

    .about .container {
        flex-direction: column;
    }

    .about .container .quote {
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    .about .container .info {
        width: 100%;
    }

    .box {
        width: 100%;
    }

    .container .box .btn {
        width: 50%;
    }

}

/* #endregion MEDIA QUERIES*/