/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion RESET*/

/* #region TYPOGRAPHY*/

/* #endregion TYPOGRAPHY*/

/* #region COMMON*/
.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
}


/* #endregion COMMON*/

/* #region DEBUG*/

.col.left,
.col.right {
    height: 930px;
    width: 50%;
}

.col.right {
    display: flex;
    align-items: end;
}

.col .img {
    width: 100%;
    height: 70%;
    border: 2px dashed black;
}

.col .txt {
    width: 100%;
}

.people {
    text-align: center;
    padding: 3rem;
}

.person {
    background-color: #9792e4;
    margin: 2rem 0;
    padding: 3rem;
}

/* #endregion DEBUG*/

/* #region HEADER*/
header {
    background-color: #0084fd;
    margin-bottom: 50px;
}

.navbar {
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
}

#logo,
.menu {
    background-color: white;
}

/* #endregion HEADER*/

/* #region MAIN*/

/* Sezione Demo */
.grid {
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 6.25rem;
}

.card {
    height: 345px;
    width: calc((100% - 50px) / 3);
    background-color: #b5ddff;
}

#grow {
    width: 50%;
    flex-grow: 2;
}

/* /Sezione Demo */

/* Sezione Strategic Planning */

.violet {
    background-color: #9792e4;
}

.col {
    padding: 3rem;
}

/* /Sezione Strategic Planning */

/* #endregion MAIN*/


/* #region FOOTER*/

/* #endregion FOOTER*/


/* #region MEDIA QUERIES*/
@media screen and (max-width:1400px) {
    .container {
        width: 100%;
        padding: 0 30px;
    }
}

@media screen and (max-width:768px) {
    .container.plan {
        flex-direction: column;
    }

    .col.left,
    .col.right {
        width: 100%;
    }

    .col.right.txt {
        display: none;
    }

    .col.right {
        align-items: start;
    }

}

@media screen and (max-width:480px) {
    .grid {
        flex-direction: column;
    }

    .card,
    #grow {
        width: 100%;
    }
}

/* #endregion MEDIA QUERIES*/